In [1]:
import pandas as pd
import rdflib
import numpy

df = pd.read_csv('dataset/raw.csv.gz', dialect='excel', keep_default_na=False, dtype=str, index_col=0)

DESDE = 1000
HASTA = 1200
subset_df = df.iloc[DESDE:HASTA]


contador = 0
for i in range(DESDE, HASTA):
    if(len(df.loc[i].dup_candidates.split())<2):contador+=1

print(contador)

71

In [3]:
df.loc[1088].dup_candidates

'1088 2048 2210 2228 2353 2478 2654 2672 2923 3262 3566 346843 346976 347052 348472 348475 348801'

In [2]:
# inicializo la lista con cadenas vacias que significa que aun no se reviso
revised = ['']*200

OFFSET =1000 # para que el indice de la lista sea el mismo que el del dataframe
for i in range(100,199):
    if(len(df.loc[i+OFFSET].dup_candidates.split())<2):
        revised[i] = df.loc[i+OFFSET].dup_candidates
    else:
        print("revised["+str(i)+"]= df.iloc[OFFSET + "+str(i)+"].dup_candidates")

revised[100]= df.iloc[OFFSET + 100].dup_candidates
revised[101]= df.iloc[OFFSET + 101].dup_candidates
revised[102]= df.iloc[OFFSET + 102].dup_candidates
revised[103]= df.iloc[OFFSET + 103].dup_candidates
revised[104]= df.iloc[OFFSET + 104].dup_candidates
revised[105]= df.iloc[OFFSET + 105].dup_candidates
revised[106]= df.iloc[OFFSET + 106].dup_candidates
revised[107]= df.iloc[OFFSET + 107].dup_candidates
revised[109]= df.iloc[OFFSET + 109].dup_candidates
revised[111]= df.iloc[OFFSET + 111].dup_candidates
revised[112]= df.iloc[OFFSET + 112].dup_candidates
revised[114]= df.iloc[OFFSET + 114].dup_candidates
revised[115]= df.iloc[OFFSET + 115].dup_candidates
revised[116]= df.iloc[OFFSET + 116].dup_candidates
revised[117]= df.iloc[OFFSET + 117].dup_candidates
revised[118]= df.iloc[OFFSET + 118].dup_candidates
revised[119]= df.iloc[OFFSET + 119].dup_candidates
revised[120]= df.iloc[OFFSET + 120].dup_candidates
revised[122]= df.iloc[OFFSET + 122].dup_candidates
revised[123]= df.iloc[OFFSET + 123].dup_candidates
revised[125]= df.iloc[OFFSET + 125].dup_candidates
revised[126]= df.iloc[OFFSET + 126].dup_candidates
revised[127]= df.iloc[OFFSET + 127].dup_candidates
revised[131]= df.iloc[OFFSET + 131].dup_candidates
revised[132]= df.iloc[OFFSET + 132].dup_candidates
revised[135]= df.iloc[OFFSET + 135].dup_candidates
revised[136]= df.iloc[OFFSET + 136].dup_candidates
revised[137]= df.iloc[OFFSET + 137].dup_candidates
revised[138]= df.iloc[OFFSET + 138].dup_candidates
revised[139]= df.iloc[OFFSET + 139].dup_candidates
revised[140]= df.iloc[OFFSET + 140].dup_candidates
revised[143]= df.iloc[OFFSET + 143].dup_candidates
revised[144]= df.iloc[OFFSET + 144].dup_candidates
revised[145]= df.iloc[OFFSET + 145].dup_candidates
revised[146]= df.iloc[OFFSET + 146].dup_candidates
revised[148]= df.iloc[OFFSET + 148].dup_candidates
revised[149]= df.iloc[OFFSET + 149].dup_candidates
revised[151]= df.iloc[OFFSET + 151].dup_candidates
revised[152]= df.iloc[OFFSET + 152].dup_candidates
revised[153]= df.iloc[OFFSET + 153].dup_candidates
revised[154]= df.iloc[OFFSET + 154].dup_candidates
revised[155]= df.iloc[OFFSET + 155].dup_candidates
revised[156]= df.iloc[OFFSET + 156].dup_candidates
revised[157]= df.iloc[OFFSET + 157].dup_candidates
revised[158]= df.iloc[OFFSET + 158].dup_candidates
revised[159]= df.iloc[OFFSET + 159].dup_candidates
revised[162]= df.iloc[OFFSET + 162].dup_candidates
revised[163]= df.iloc[OFFSET + 163].dup_candidates
revised[164]= df.iloc[OFFSET + 164].dup_candidates
revised[165]= df.iloc[OFFSET + 165].dup_candidates
revised[166]= df.iloc[OFFSET + 166].dup_candidates
revised[167]= df.iloc[OFFSET + 167].dup_candidates
revised[168]= df.iloc[OFFSET + 168].dup_candidates
revised[169]= df.iloc[OFFSET + 169].dup_candidates
revised[170]= df.iloc[OFFSET + 170].dup_candidates
revised[174]= df.iloc[OFFSET + 174].dup_candidates
revised[175]= df.iloc[OFFSET + 175].dup_candidates
revised[176]= df.iloc[OFFSET + 176].dup_candidates
revised[180]= df.iloc[OFFSET + 180].dup_candidates
revised[181]= df.iloc[OFFSET + 181].dup_candidates
revised[182]= df.iloc[OFFSET + 182].dup_candidates
revised[183]= df.iloc[OFFSET + 183].dup_candidates
revised[186]= df.iloc[OFFSET + 186].dup_candidates
revised[187]= df.iloc[OFFSET + 187].dup_candidates
revised[192]= df.iloc[OFFSET + 192].dup_candidates
revised[193]= df.iloc[OFFSET + 193].dup_candidates
revised[194]= df.iloc[OFFSET + 194].dup_candidates
revised[195]= df.iloc[OFFSET + 195].dup_candidates
revised[196]= df.iloc[OFFSET + 196].dup_candidates

In [116]:
posicionPorControlar = 196

In [117]:
candidates = [int(x) for x in df.iloc[OFFSET + posicionPorControlar].dup_candidates.split()] # Esto devuelve una lista de indices [990, 1200]
df.loc[candidates] # Esto devuelve las filas de un dataset en esa lista de indices

,_validation,address,advertiser_id,advertiser_name,age,bath_amnt,bed_amnt,bed_ratio,covered_ratio,covered_surface,...,toilet_amnt,total_ratio,total_surface,total_surface_unit,transaction,uncovered_surface,uncovered_surface_unit,url,year_built,dup_candidates
1196,,España al 400,30032377,Sforza Propiedades,7.0,2,4,43750.0,972.2222222222222,180.0,...,1,583.3333333333334,300.0,m²,Venta,,,https://www.zonaprop.com.ar/propiedades/clasif...,2017,1196 645182
645182,,,234606,,7.0,2,4,43750.0,972.2222222222222,180.0,...,,583.3333333333334,300.0,m²,Venta,,,https://www.argenprop.com/casa-en-venta-en-san...,2017,1196 645182

In [118]:
# muestra las descripciones de cada aviso junto con sus indidces...
descripcionesPorRevisar = [int(x) for x in df.iloc[OFFSET + posicionPorControlar].dup_candidates.split()]
print(descripcionesPorRevisar)
for idx, desc in zip(descripcionesPorRevisar,df.loc[descripcionesPorRevisar]['description']):
    print(f' {idx}   ******************')
    print(desc)
    print()

[1196, 645182]
 1196   ******************
Hermosa y moderna casa en venta en excelente zona de San Miguel. Ubicada en España al 452, Entre calles Vicente Lopez y Malnatti. A 4 cuadras del Shopping "Terrazas de Mayo". Lote de 10 x 30. (300 m2 totales) La propiedad cuenta con: Ingreso a la misma por el quincho en disposición al frente, cochera cubierta con portón automático y puerta de ingreso. Parrilla cubierta con espacioso lugar ideal para reuniones ( 50 m2) y lavadero semi cubierto con toilette de servicio para invitados. Salida al sector de la piscina de material con solárium de baldosas atérmicas con medidas de 8 x 4 (cuenta con bomba y filtro) La casa se dispone al contra frente de la propiedad, se ingresa por el living y por dentro nos encontramos con una moderna construcción de calidad y hermosa estética, con detalles de categoría únicos. En planta baja: Living comedor con salida a patio interno, cocina semi separada con amoblamientos de madera de cedro combinada con mesada de granito, habitación y baño completo. ( 90 m2 cubiertos) En planta alta: Hall de distribución,  3 habitaciones, (una es la principal que cuenta con acceso mediante escalera caracol a otra habitación en una tercera planta, actualmente usada como vestidor y espacio guarda útiles), baño con doble bacha, espacioso y completo con Jacuzzi. Detalles que suman a la categoría de la casa: - Aberturas de madera maciza con rejas. - Cielo raso con placas de yeso. - Hermoso parquizado natural con palmeras antiguas. - Conexiones de plomería y eléctricas de calidad. SFORZA PROPIEDADES. CONSULTANOS! SFORZA PROPIEDADES.

 645182   ******************
Hermosa y moderna casa en venta en excelente zona de San Miguel. Ubicada en España al 452, Entre calles Vicente Lopez y Malnatti. A 4 cuadras del Shopping "Terrazas de Mayo". Lote de 10 x 30. (300 m2 totales)   La propiedad cuenta con:   Ingreso a la misma por el quincho en disposición al frente, cochera cubierta con portón automático y puerta de ingreso. Parrilla cubierta con espacioso lugar ideal para reuniones ( 50 m2) y lavadero semi cubierto con toilette de servicio para invitados. Salida al sector de la piscina de material con solárium de baldosas atérmicas con medidas de 8 x 4 (cuenta con bomba y filtro) La casa se dispone al contra frente de la propiedad, se ingresa por el living y por dentro nos encontramos con una moderna construcción de calidad y hermosa estética, con detalles de categoría únicos. En planta baja: Living comedor con salida a patio interno, cocina semi separada con amoblamientos de madera de cedro combinada con mesada de granito, habitación y baño completo. ( 90 m2 cubiertos) En planta alta: Hall de distribución,  3 habitaciones, (una es la principal que cuenta con acceso mediante escalera caracol a otra habitación en una tercera planta, actualmente usada como vestidor y espacio guarda útiles), baño con doble bacha, espacioso y completo con Jacuzzi.   Detalles que suman a la categoría de la casa: - Aberturas de madera maciza con rejas. - Cielo raso con placas de yeso. - Hermoso parquizado natural con palmeras antiguas. - Conexiones de plomería y eléctricas de calidad.   SFORZA PROPIEDADES. CONSULTANOS!   SFORZA PROPIEDADES.

In [119]:
# completado manual Vicky
revised[3]= df.iloc[OFFSET + 3].dup_candidates  # confirmamos que esta duplicado
revised[4]=  df.iloc[OFFSET + 4].dup_candidates # confirmamos que esta duplicado
revised[6]= "1006 2091" # el 3552 no es duplicado, es un dpto mas chico 
revised[7]= df.iloc[OFFSET + 7].dup_candidates
revised[9]= df.iloc[OFFSET + 9].dup_candidates
revised[11]= df.iloc[OFFSET + 11].dup_candidates
revised[13]= df.iloc[OFFSET + 13].dup_candidates 
revised[14]= df.iloc[OFFSET + 14].dup_candidates  
revised[15]= df.iloc[OFFSET + 15].dup_candidates  
revised[16]= df.iloc[OFFSET + 16].dup_candidates  
revised[17]= df.iloc[OFFSET + 17].dup_candidates 
revised[18]= df.iloc[OFFSET + 18].dup_candidates
revised[20]= df.iloc[OFFSET + 20].dup_candidates
revised[21]= df.iloc[OFFSET + 21].dup_candidates
revised[23]= df.iloc[OFFSET + 23].dup_candidates
revised[25]= df.iloc[OFFSET + 25].dup_candidates
revised[26]= "1026 610908 612614" # el age es sustancialmente diferente para los casos que se quitaron
revised[27]= df.iloc[OFFSET + 27].dup_candidates
revised[29]= df.iloc[OFFSET + 29].dup_candidates
revised[30]= df.iloc[OFFSET + 30].dup_candidates
revised[31]= df.iloc[OFFSET + 31].dup_candidates
revised[32]= df.iloc[OFFSET + 32].dup_candidates
revised[33]= df.iloc[OFFSET + 33].dup_candidates
revised[35]= df.iloc[OFFSET + 35].dup_candidates
revised[36]= df.iloc[OFFSET + 36].dup_candidates
revised[39]= df.iloc[OFFSET + 39].dup_candidates
revised[40]= df.iloc[OFFSET + 40].dup_candidates
revised[42]= df.iloc[OFFSET + 42].dup_candidates
revised[43]= df.iloc[OFFSET + 43].dup_candidates   
revised[45]= df.iloc[OFFSET + 45].dup_candidates
revised[46]= df.iloc[OFFSET + 46].dup_candidates
# Completado manual Ivan
revised[53]= df.iloc[OFFSET + 53].dup_candidates
revised[54]= df.iloc[OFFSET + 54].dup_candidates # todos corresponden al mismo edificio pero a ningun departamente especifico. Es un emprendimiento inmobiliario
revised[55]= df.iloc[OFFSET + 55].dup_candidates
revised[56]= df.iloc[OFFSET + 56].dup_candidates
revised[59]= df.iloc[OFFSET + 59].dup_candidates
revised[60]= df.iloc[OFFSET + 60].dup_candidates
revised[61]= df.iloc[OFFSET + 61].dup_candidates
revised[62]= df.iloc[OFFSET + 62].dup_candidates
revised[63]= df.iloc[OFFSET + 63].dup_candidates
revised[66]= "1066, 2558, 2560, 2562, 612538" # Se trata de 3 departamentos diferentes. Se identifican 3 distribuciones diferentes de cocina, baño, etc en imagenes. Solo se han excluido los que no se corresponden con el inmueble 1066 (383716, 609086, 609422, 610835, 611336, 611350, 611361, 611675, 612537)
revised[67]= df.iloc[OFFSET + 67].dup_candidates
revised[70]= df.iloc[OFFSET + 70].dup_candidates
revised[71]= df.iloc[OFFSET + 71].dup_candidates
revised[73]= df.iloc[OFFSET + 73].dup_candidates
revised[75]= df.iloc[OFFSET + 75].dup_candidates
revised[76]= df.iloc[OFFSET + 76].dup_candidates
revised[80]= df.iloc[OFFSET + 80].dup_candidates # todos corresponden al mismo edificio pero a ningun departamente especifico. Es un emprendimiento inmobiliario
revised[81]= df.iloc[OFFSET + 81].dup_candidates
revised[82]= df.iloc[OFFSET + 81].dup_candidates
revised[86]= df.iloc[OFFSET + 81].dup_candidates
revised[87]= df.iloc[OFFSET + 87].dup_candidates
revised[88]= df.iloc[OFFSET + 88].dup_candidates
revised[89]= "1088, 348801" # Se trata de varios terrenos publicados en dos plataformas diferentes. Se excluye a todos los que no coinciden con superficie/precio y estan en misma platarma (2048 2210 2228 2353 2478 2654 2672 2923 3262 3566 346843 346976 347052 348472 348475)
revised[92]= df.iloc[OFFSET + 92].dup_candidates
revised[93]= df.iloc[OFFSET + 93].dup_candidates
revised[95]= df.iloc[OFFSET + 95].dup_candidates
revised[96]= df.iloc[OFFSET + 96].dup_candidates
revised[97]= df.iloc[OFFSET + 97].dup_candidates
revised[98]= df.iloc[OFFSET + 98].dup_candidates

# mas casos completado manual Vicky
revised[100]= df.iloc[OFFSET + 100].dup_candidates
revised[101]= df.iloc[OFFSET + 101].dup_candidates
revised[102]= df.iloc[OFFSET + 102].dup_candidates
revised[103]= df.iloc[OFFSET + 103].dup_candidates
revised[104]= df.iloc[OFFSET + 104].dup_candidates
revised[105]= df.iloc[OFFSET + 105].dup_candidates
revised[106]= df.iloc[OFFSET + 106].dup_candidates
revised[107]= df.iloc[OFFSET + 107].dup_candidates
revised[109]= df.iloc[OFFSET + 109].dup_candidates
revised[111]= df.iloc[OFFSET + 111].dup_candidates
revised[112]= df.iloc[OFFSET + 112].dup_candidates
revised[114]= df.iloc[OFFSET + 114].dup_candidates
revised[115]= df.iloc[OFFSET + 115].dup_candidates
revised[116]= df.iloc[OFFSET + 116].dup_candidates
revised[117]= df.iloc[OFFSET + 117].dup_candidates
revised[118]= df.iloc[OFFSET + 118].dup_candidates
revised[119]= df.iloc[OFFSET + 119].dup_candidates
revised[120]= df.iloc[OFFSET + 120].dup_candidates
revised[122]= df.iloc[OFFSET + 122].dup_candidates
revised[123]= df.iloc[OFFSET + 123].dup_candidates
revised[125]= df.iloc[OFFSET + 125].dup_candidates
revised[126]= df.iloc[OFFSET + 126].dup_candidates
revised[127]= df.iloc[OFFSET + 127].dup_candidates
revised[131]= df.iloc[OFFSET + 131].dup_candidates
revised[132]= df.iloc[OFFSET + 132].dup_candidates
revised[135]= df.iloc[OFFSET + 135].dup_candidates
revised[136]= "1136, 11600" # Se trata de 2 departamentos diferentes.
revised[137]= df.iloc[OFFSET + 137].dup_candidates
revised[138]= df.iloc[OFFSET + 138].dup_candidates
revised[139]= "2398 1139 1193 1378 610876 612585 612586" # duplicados
revised[140]= df.iloc[OFFSET + 140].dup_candidates
revised[143]= "1143 379769" #se quito un caso que no parecia tener suficiente similaritud al 1143
revised[144]= "1144 611022"
revised[145]= df.iloc[OFFSET + 145].dup_candidates
revised[146]= df.iloc[OFFSET + 146].dup_candidates
revised[148]= df.iloc[OFFSET + 148].dup_candidates
revised[149]= df.iloc[OFFSET + 149].dup_candidates

# mas casos completado manual Ivan
revised[150]= df.iloc[OFFSET + 150].dup_candidates
revised[151]= df.iloc[OFFSET + 151].dup_candidates
revised[152]= df.iloc[OFFSET + 152].dup_candidates
revised[153]= df.iloc[OFFSET + 153].dup_candidates
revised[154]= "1154" #se trata de un edificio con 7 departamentos disponibles
revised[155]= df.iloc[OFFSET + 155].dup_candidates
revised[156]= df.iloc[OFFSET + 156].dup_candidates
revised[157]= df.iloc[OFFSET + 157].dup_candidates
revised[158]= df.iloc[OFFSET + 158].dup_candidates
revised[159]= "1159" #el otro inmueble (2036) tiene todos sus datos de superficie diferentes
revised[160]= df.iloc[OFFSET + 160].dup_candidates
revised[161]= df.iloc[OFFSET + 161].dup_candidates
revised[162]= df.iloc[OFFSET + 162].dup_candidates
revised[163]= df.iloc[OFFSET + 163].dup_candidates
revised[164]= df.iloc[OFFSET + 164].dup_candidates
revised[165]= df.iloc[OFFSET + 165].dup_candidates
revised[166]= df.iloc[OFFSET + 166].dup_candidates
revised[167]= df.iloc[OFFSET + 167].dup_candidates
revised[168]= df.iloc[OFFSET + 168].dup_candidates
revised[169]= df.iloc[OFFSET + 169].dup_candidates
revised[170]= df.iloc[OFFSET + 170].dup_candidates
revised[171]= df.iloc[OFFSET + 171].dup_candidates
revised[172]= df.iloc[OFFSET + 172].dup_candidates
revised[173]= df.iloc[OFFSET + 173].dup_candidates
revised[174]= df.iloc[OFFSET + 174].dup_candidates
revised[175]= df.iloc[OFFSET + 175].dup_candidates
revised[176]= df.iloc[OFFSET + 176].dup_candidates
revised[177]= df.iloc[OFFSET + 177].dup_candidates
revised[178]= df.iloc[OFFSET + 178].dup_candidates
revised[179]= df.iloc[OFFSET + 179].dup_candidates
revised[180]= df.iloc[OFFSET + 180].dup_candidates
revised[181]= df.iloc[OFFSET + 181].dup_candidates
revised[182]= df.iloc[OFFSET + 182].dup_candidates
revised[183]= "1183"
revised[184]= df.iloc[OFFSET + 184].dup_candidates
revised[186]= df.iloc[OFFSET + 186].dup_candidates
revised[187]= df.iloc[OFFSET + 187].dup_candidates
revised[192]= df.iloc[OFFSET + 192].dup_candidates
revised[193]= df.iloc[OFFSET + 193].dup_candidates
revised[194]= df.iloc[OFFSET + 194].dup_candidates
revised[195]= "1195"
revised[196]= df.iloc[OFFSET + 196].dup_candidates

In [14]:
candidates = [int(x) for x in df.iloc[1003].dup_candidates.split()] # Esto devuelve una lista de indices [990, 1200]
df.loc[candidates] # Esto devuelve las filas de un dataset en esa lista de indices
# muestra las descripciones de cada aviso junto con sus indidces...

,_validation,address,advertiser_id,advertiser_name,age,bath_amnt,bed_amnt,bed_ratio,covered_ratio,covered_surface,...,toilet_amnt,total_ratio,total_surface,total_surface_unit,transaction,uncovered_surface,uncovered_surface_unit,url,year_built,dup_candidates
1003,,"Leandro N. Alem & 25 de Mayo, Dock Sud, Provin...",1285790463,,,3,,,1714.2857142857142,70,...,,600.0,200,m²,Venta,,,https://api.mercadolibre.com/items/MLA1408943916,,1003 7968
7968,,"Leandro N. Alem & 25 de Mayo, Dock Sud, Provin...",1285790463,,,3,,,928.5714285714286,70,...,,325.0,200,m²,Venta,,,https://api.mercadolibre.com/items/MLA1409594620,,1003 7968

In [15]:
# codigo para obtener la grilla
candidates = [int(x) for x in df.iloc[OFFSET + i].dup_candidates.split()] # Esto devuelve una lista de indices [990, 1200]
df.loc[candidates] # Esto devuelve las filas de un dataset en esa lista de indices

,_validation,address,advertiser_id,advertiser_name,age,bath_amnt,bed_amnt,bed_ratio,covered_ratio,covered_surface,...,toilet_amnt,total_ratio,total_surface,total_surface_unit,transaction,uncovered_surface,uncovered_surface_unit,url,year_built,dup_candidates
1198,,Las Heras 569,17062167,Susana Oviedo Negocios Inmobiliarios,30.0,3,5,64000.0,960.960960960961,333.0,...,2,533.3333333333334,600.0,m²,Venta,,,https://www.zonaprop.com.ar/propiedades/clasif...,1994,1198

In [16]:
# muestra las descripciones de cada aviso junto con sus indidces...
for idx, desc in zip(candidates,df.loc[candidates]['description']):
    print(f' {idx}   ******************')
    print(desc)

 1198   ******************
Excelente Casa en una zona privilegiada de San Miguel, donde el entorno sigue siendo verde. Porch, amplio hall de recepción que comunica hacia un lado a la cocina, y hacia el otro al gran comedor, super luminoso, doble circulación y salida al parque. Escritorio. Cocina: con vista a la calle, muy bien equipada, con mueble bajo mesada, alacena, barra desayunadora, comedor diario, salida al jardín. Hall íntimo: toillete amplio, de medidas generosas, escaleras de madera con pasamano idem hacia PA. Descanso: un dormitorio con ventana al jardín. PA: amplio hall de distribución, calefactor, varios placard de guardado, uno con acceso al techo. Dos dormitorios, ambos con placard, uno con vista al frente y otro con vista al jardín posterior. Baño compartimentado, uno con vanitory y bañera, y el otro con vanitory y sanitarios. Gran suite: calefactor, baño, vanitory con doble bacha, bañera con hidro; amplio vestidor, ventanales a la calle. Descendemos la escalera hacia el subsuelo, en el descanso puerta a amplio lavadero, bien equipado, termotanque, ventana y puerta salida hacia jardín. Seguimos descendiendo y llegamos a Garaje para tres autos, portón automatizado, cuarto de guardado. Exterior: gran jardín que rodea la casa. Quincho cerrado, bien equipado con ventanales en todo su frente. Baño. Piscina. Horno de barro. Riego por aspersión. Rejas que separa jardín de la piscina. Detalles para destacar: techo de pizarra, aberturas de madera de vidrio repartido con cristales biselados, aire acondicionado en todos los ambientes. Construcción tradicional de optima calidad. Muy segura. Todas las aberturas con rejas. Rejas al frente, portón de acceso vehicular de rejas.

In [120]:
newdf = df.iloc[DESDE:HASTA][['dup_candidates']]
newdf

     dup_candidates
1000           1000
1001           1001
1002           1002
1003      1003 7968
1004    1004 227898
...             ...
1195      1195 2023
1196    1196 645182
1197           1197
1198           1198
1199           1199

[200 rows x 1 columns]

In [121]:
newdf['dup_curated'] = revised

In [122]:
grupo_nro = 6
newdf.to_csv(f'dataset/entrega_tis_grupo_{grupo_nro:02}.csv.gz', escapechar='"')